[2013-01-20 14:54] ghost opened #1 "how to add the background image ?"
thanks.

[2013-03-09 20:27] ToddManUtah opened #2 "Initial content"
I am trying to use you code to expand a simple app I'm working on.  This code is really helpful!!!!

Questions:  I'm saving the image to file and then reloading it.  The problem I'm running into is setting the ACEDrawingView image with default content.  It assumes an empty drawing surface.  Is there something I'm missing?  Did you allow for initial content?

I changed the code to allow (removed re

[2013-04-09 14:31] abeltranes opened #3 "how can i erase lines ?"
i would like erase lines or other paint tool.  i know that if i select the background color i can imitate erase, but i put image background this solution is not valid.

[2013-05-10 08:23] ryanmasondavies opened #4 "Drawing over an image?"
Is it possible to load in a background image to draw over the top of?

[2013-05-12 09:40] #4 closed, assigned to nobody

[2013-06-05 02:30] ghost opened #5 "very laggy"
Hi

i tried the demo out on my iPad 3, and as i draw, the line being drawn falls way behind from where my finger is.

Im guessing this is because the drawing is redrawing every line and shape over and over, instead of just drawing the current draw item?

Oz

[2013-06-06 02:03] #5 closed, assigned to nobody

[2013-06-09 16:22] #3 closed, assigned to nobody

[2013-07-08 18:44] JohnWickham opened #8 "Eraser tool with background color"
If the background color is anything but clear, the eraser tool draws like a normal pen tool

[2013-11-06 17:12] cepages opened #9 "currentTool is set to nil"
In ACEDrawingView ( touchesEnded method) currentTool is set to nil currentTool and then it is sent in the delegate method

[code]

[2013-11-20 15:02] ASidorkin opened #11 "FPS Issue"
Seems that there is some performance trouble with FPS. See attached image.
I am just continiuosly painting for 1 minute without stopping. FPS is extremelly falling down...

Have you got any solution for this issue?

![ss](https://f.cloud.github.com/assets/5991939/1582823/97d4f4c8-51f4-11e3-92ee-00a7aa4111f4.png)

[2013-12-20 12:08] Rao27 opened #12 "Undo functionality takes time"
Your code works perfectly for me. But when i draw so much data at that time undo function take exponential time depends on the content draw on the drawing pad. How can i reduce that time while undoing? I don't know how much time undo function take when it is called because it is dependent on total content.

[2013-12-25 17:33] allwarr opened #13 "Support zooming"
What would be the best approach to adding zooming functionality? Thanks!

[2014-01-01 14:40] ranjitk-plackal opened #14 "Curves are not smooth"
Hello, firstly I want to thank you for this great project. Secondly, I want to mention that, the curves are not very smooth, you will notice it when you try to write very closely. Can you suggest how it can be tweaked, so that we get bamboo like smooth curves while writing.

I am attaching the images for reference , how it looks on bamboo and your app.

![img_0088](https://f.cloud.github.com/asset

[2014-01-01 14:41] ranjitk-plackal opened #15 "Support variable width"
Hello, I want to know how we can support variable width in this project.

[2014-01-15 13:14] ashwin0406 opened #16 "How to draw text using this tool?"
Hello @acerbetti I would like to know if there is any option to draw text using the ACEDrawingView. All your other tools work amazing for me but I want to know how we can draw text in a rect. Can you please help me with this?

[2014-01-21 04:08] kenpig opened #17 "How to add arrow CGImage at the end point of the line?"
How to add arrow CGImage at the end point of the line?  What methods can modify ? Thank you.

[2014-02-18 05:36] GISmanimaran opened #20 "How to draw star using ACEDrawingView"
I want to draw a star by using this ACEDrawingView, any one help me?

[2014-03-27 12:00] thomasSailing opened #23 "Save the drawing and open it again"
many thanks for this great sample project.
I want to ask if you can give me a tip. I want to save the drawn lines, shapes, etc.. I do not mean save as png or pdf. Rather, I want to save the contents of the "self.pathArray" and load this data later in the "drawingView". Later the drawing is to be further processed. If there still remain the UnDo steps, it would be perfect.

I try and try ... but do

[2014-05-06 16:06] #16 closed, assigned to nobody

[2014-05-06 18:09] #9 closed, assigned to nobody

[2014-08-01 16:58] elprl opened #27 "loadImage() issue on retina iPad"
Hi, thanks for sharing this code. It's a great little tool.
I wanted to use this code for a simple colouring-in tool for kids but I'm having issues with it on retina ipads. I'm loading a UIImage into ACEDrawingView with the loadImage:(UIImage *)image method but once I start drawing with the brush I noticed the original uiimage starts to get messed up. Looks like the drawRect is painting the wrong

[2014-09-01 17:13] vilapuigvila opened #30 "run's in iOS 8?"
I have a project with ACEDrawingView, but it not run with iOS8. How do I?
Thanks.

[2014-09-05 15:04] #30 closed, assigned to nobody

[2014-09-06 22:26] AdamBCo opened #31 "Erratic Drawing Disappears"
Sometimes when drawing erratically, the pen stops working. Other times when drawing for a prolonged period of time, the drawing disappears. Could someone please explain what's happening, and how to fix it? Thanks - Adam

[2014-10-02 12:43] ilan1990 opened #33 "How do i add custom colours such patterns with image ?"
I want to make a pattern option... with image of stars or something else...

[2014-10-24 18:37] drdaz opened #34 "Build errors in Xcode 6.1"
Hi there

I've just discovered your component, but I'm having trouble using it. Following your instructions, I import the ACEDrawingView folder into my (completely new) project. If I try and compile now, the build fails. I'm pretty much at a loss; the demo project works just fine, and I can't see any configuration differences between the two.

Here's the compiler dump:
<code>CompileC /Users/drdaz/

[2014-10-24 19:05] #34 closed, assigned to nobody

[2014-12-31 10:49] drdaz opened #36 "Partial redraw..."
Hi there (and happy holidays!)

I've noticed the TODO in ACEDrawingView, where you write that you need to implement partial redraw in the drawRect method. I'm in a situation where I am using this component to draw on top of full resolution (8MP) photos. The full redraw causes the component to lag and crash when the image is zoomed out fully (I've embedded the view in a UIScrollView). At least, I b

[2015-01-03 13:58] priyankimob opened #37 "How to add custom cursour image for drawing?"
how to use custom cursour instead of directly touches?

[2015-01-07 15:08] elprl opened #38 "cocoapod fails to build on latest xcode"
My Swift project shows a build error that fails to recognise UIColor strangely. I fixed this by adding:
#import UIKit/UIKit.h
to ACEDrawingTools.h

[2015-01-10 15:14] acerbetti commented on #38
Interesting, I don't use swift...

thanks for reporting this

[2015-01-10 15:20] acerbetti commented on #36
Hi there,
thanks for the interest in the project.

I'm happy to see where this is going, but I got very busy with my job and some side projects and I currently have zero time to maintain this component.

Feel free to work on it and I can review you idea, sorry but I can't do much more than that

[2015-01-11 11:01] drdaz commented on #38
This isn't unique to Swift actually... I've had to do the same in my objective c projects. It's because ACEDrawingTools does have a dependency on UIKit, but the import is only declared in the -Prefix.pch of the ACEDrawingViewDemo project. So if you use it in your own projects, you need to import it yourself somewhere.

[2015-01-11 11:05] drdaz commented on #36
That's a shame... but totally understandable. Gotta pay the bills :)

To be honest I'm not quite sure where to go with it; my gut tells me that the undo / redo mechanics and  drawing to a UIImage make the partial redrawing difficult... but again, I'm a noob with CoreGraphics. If I make any progress, I'll get back to you here.

[2015-01-11 15:27] elprl commented on #38
Hi, thanks for your response.

Yep, adding the import to the pch file would also fix this. I recommend adding the import to your class though as one of the goals of cocoapods is to make libs independent of other each. Otherwise, you'll have to add the step to your install description. Hope you can find the time to continue working with the project, it's a useful lib for many people I imagine.

[2015-03-14 09:11] xiao99xiao commented on #8
@0xPr0xy 's code wouldn't solve it when the drawingView load a UIImage as background, Just to make it clear.

[2015-05-04 04:42] sonysm commented on #1
I want to use eraser to erase with background image
how to use eraser to erase blendImage?

[2015-05-26 00:33] acerbetti commented on #38
Fixed and updated cocoapods. Thanks

[2015-05-26 00:33] #38 closed

[2015-06-08 11:26] vtourraine commented on #13
You can put `ACEDrawingView` inside a `UIScrollView`, and enable zooming. The trick is to set `scrollView.panGestureRecognizer.minimumNumberOfTouches = 2;`, in order to let one-finger gestures be used for drawing only.

Very straightforward, the big downside is that all strokes will suffer a slight delay (the scroll view needs time to decide if you’re actually using two finders).

[2015-06-08 19:07] acerbetti commented on #13
That's an interesting idea.... a lot of people are requesting for zoom capabilities.

Do you mind to edit the demo app with this approach? I think a lot of people will appreciate it

Thanks

[2015-06-11 18:39] alokc83 opened #45 "I have been pointing to 1.3.2 for months"
Now suddenly when I do pod update. it gets 1.3.5 and screwing up my project. all drawing are screwed. can you tell me what is going on ?
Its error on my side or ACEDrawingView Side

[2015-06-11 21:18] acerbetti commented on #45
Sorry about that, i'm not using this lib in any of my active projects, so
probably i've missed the bug

what exactly are the issues of your projects?

------------
It's choice - not chance - that determines our destiny.

On Thu, Jun 11, 2015 at 11:39 AM, Alok Choudhary <notifications@github.com>
wrote:

[2015-06-11 21:47] alokc83 commented on #45
past couple of hours I have been trying to compare 132 and 135. I have found out that drawMode is not working as expected. its has totatlly screwed up how ACEDrawingView is saving image. I have tried Scale mode as default is Original. It did nothing. I am quite sure it has been broken for everybody. I am not saying you should sit and fix. but I would request you to revert the drawMode to restore t

[2015-06-12 09:03] superpic commented on #1
This sample is not good

[2015-06-12 09:16] superpic commented on #4
hello, no I can't. how can I set background?

[2015-06-12 14:08] vtourraine commented on #13
Sure, it’s really easy to do. The only thing is, like I mentioned, it does add a delay to every path you draw. It’s a small delay, but noticeable. So I think it’s best to keep the default demo app as-is, maybe add a button to switch to a zoomable mode? Or document it in the readme?

[2015-06-15 15:52] acerbetti commented on #45
Can you provide me an example of the broken issue? If you set the draw mode to ACEDrawingMode to ACEDrawingModeOriginalSize the behavior should be identical as the previous version

[2015-06-18 10:23] vtourraine commented on #23
We would need to have all the drawing tools adhere to the `NSCoding` protocol. `UIBezierPath` already supports it, but we also need to (de)code the colors, line size, etc.

If someone feels like sending a pull-request, that would be useful.

[2015-06-18 10:27] vtourraine commented on #33
Just assign a color built with a pattern image to the `lineColor` property:

[code]

[2015-06-18 10:31] vtourraine commented on #37
Could you give a bit more details about what you’re trying to achieve? There’s no cursor on iOS devices, but you can programmatically fake touch events if you want.

[2015-06-26 13:05] brendanmullan opened #46 "Possible to take a photo with camera and draw on to it?"
Just quick question, would it be possible to take a photo with the device camera and draw onto it? Might be a nice feature to add :-)

[2015-07-06 11:08] TGNA commented on #46
+1

[2015-08-25 07:42] hyunwoo3008 opened #47 "undo, redo"
Optimization please (undo, redo)

[2015-09-18 03:28] ViccAlexander commented on #46
Yes it is. You can use something like [LLSimpleCamera](https://github.com/omergul123/LLSimpleCamera) to setup the capturing feature. Once a photo has been taken, you can send the photo to a new `UIViewController` (where you'll edit the image / draw on it). You can set the default view's class to `ACEDrawingView` in the editing controller, and pass the captured photo as it's background image. From

[2015-09-18 03:32] ViccAlexander opened #48 "Getting bounds of the drawing?"
What's the easiest way to get the bounds of a drawing (not the drawingView, but the bounds of the actual path)?

[2015-09-19 07:26] hardikamal opened #49 "Resize and drag the ellipse and rectangle"
Hi @stephengazzard first of all thanks for the awesome library...Could u plz add the feature of resizing the ellipse and rectangle and move across the drawing view...
Thanks

[2015-09-28 12:44] markkrenek opened #50 "ACEDrawingToolTypeCustom enum causes crash in demo app"
ACEDrawingToolTypeCustom was added to the top of the ACEDrawingToolType enum essentially  making it the default value for drawTool. This leads to a crash since customDrawTool has not been specified.

The fix is to either move ACEDrawingToolTypeCustom out of the zero position in the enum or to explicitly default drawTool to ACEDrawingToolTypePen in configure().

[2015-09-28 14:38] acerbetti commented on #50
Thank you for reporting this bug, I set the first enum back to pen like it was before

[2015-09-28 14:38] #50 closed

[2015-10-17 17:14] PF84 opened #51 "Brush support"
Hi,

Is possible to add brush support for this? -.-

[2015-10-19 15:48] ntnmrndn commented on #46
Actually it's not working properly...  See <img width="880" alt="capture d ecran 2015-10-19 a 17 47 13" src="https://cloud.githubusercontent.com/assets/1104823/10582712/76173178-7689-11e5-8808-65e0c5171335.png">

Related : https://github.com/acerbetti/ACEDrawingView/issues/27

[2015-10-19 15:55] ntnmrndn commented on #46
Actually it seems to work if you add the picture in "viewDidLayoutSubview" AND if the picture is exactly the same size as the view.

[2016-03-31 07:03] #48 closed

[2016-04-26 08:29] Onetaway opened #54 "How to drag and move the image in the DrawingView?"
Now I want move the picture,is it possible to add a uiimageview as the subview of drawing view?

[2016-05-10 17:20] hollyfeld commented on #46
Set the ACEDrawingModeScale on ACEDrawingView to ACEDrawingModeScale.

[2016-06-27 06:46] To1ne opened #55 "Make CGMutablePathRef publicly available"
It would be nice if you could access the `CGMutablePathRef` of the `ACEDrawingPenTool` from the outside (e.g. to store it in a database).

I suggest overriding the `CGPath` accessor defined by `UIBezierPath` to do this. This should make things easy, because `UIBezierPath` conforms to `NSCoding`, so everything should work out-of-the-box.

I'll see if I find some time to format a PR to accomplish th

[2016-06-29 14:18] evgeniy-ryadovoy opened #56 "Question about updating image cache"
Hi.

Thanks for this amazing project. I have one question.

We have an image on our canvas. So, all paths should be added to it's context.
When we move our finger by screen - we see line (new paths added through draw cycles).
But there is only one place, where image grabs the context info:

- (void)updateCacheImage:(BOOL)redraw

function. It called only when touches end.
Why we can see line during

[2016-06-30 03:45] enstulen opened #57 "Implementing 3D-Touch"
I want to implement 3D-Touch and change the linewidth based on the pressure.
In the touchesMoved I use this code to change the lineWidth:

[code]
It works, however, when crossing lines with a previously drawn line, it overrides it.
If anyone knows a solution I would be very grateful! Thanks :)

[2016-06-30 04:39] enstulen commented on #57
Picture:
![asset](https://cloud.githubusercontent.com/assets/7783861/16476949/e04c36f8-3e41-11e6-83e9-eedf301af9c6.PNG)

[2016-07-13 12:30] cfive2015 commented on #56
Call **[self.currentTool draw]** in the drawRect function.
- (void)drawRect:(CGRect)rect
{
#if PARTIAL_REDRAW
    // TODO: draw only the updated part of the image
    [self drawPath];
#else
    switch (self.drawMode) {
        case ACEDrawingModeOriginalSize:
            [self.image drawAtPoint:CGPointZero];
            break;

        case ACEDrawingModeScale:
            [self.image drawInRect:s

[2016-07-13 12:32] evgeniy-ryadovoy commented on #56
Yep, got it!
Thanks!

[2016-07-13 12:32] #56 closed

[2016-07-18 13:09] BlaXun opened #59 "Rotating the ACEDrawingView will break the doodle"
Hiya there.
Thanks for the cool project.
I got a small problem with this. When I draw in Portrait mode and then switch to Landscape and continue drawing I get a broken image. This mostly happens when I draw at previously unreachable positions. There will be white fragments around the new lines I am drawing.

Did anybody experience this before and has an idea what to do bout this?

Thx in advance!

[2016-07-18 13:44] BlaXun commented on #57
I got a similar problem when rotating the view.... I also get such annoying fragments :S

[2016-07-26 08:12] RichikaAGL opened #60 "How can I integrate this API with swift file?"
I had integrate this API in swift, issue comes with delegate call from:

1. ACEDrawingView.m
2. - (void)finishDrawing
3. delegate call, doesnot goe inside "if" condition,

Definition of delegate given in swift file, but call is not made.

Please help. Consider it as urgent!

[2016-07-26 13:58] acerbetti commented on #60
the delegate call is optional, why is it a blocker ?

[2016-07-27 06:00] RichikaAGL commented on #60
Hi

When I choose the option to change line color, it enters the action delegates, but lineColor doesnot get changed.

func actionSheet(actionSheet: UIActionSheet, clickedButtonAtIndex buttonIndex: Int)
{
		println_debug("\(buttonIndex)")
		switch (buttonIndex)
		{
		case 1:
			self.drawingView.lineColor = UIColor.blackColor()
			break

		case 2:
			self.drawingView.lineColor = UIColor.redColor()

[2016-07-27 06:27] RichikaAGL commented on #60
Hi, I was able to solve the issue. Thanks.

[2016-07-27 06:27] #60 closed

[2016-07-27 12:08] Alisha786 commented on #8
any body resolve this issue?? please explain

[2016-07-27 12:12] Alisha786 commented on #8
In My project i can change the background color when i am drawing

[2016-08-02 13:50] vipinjohney commented on #23
Just adding how I did this, incase some one is in need.

1.  Make the following code public in ACEDrawingView.h

[code]
2. Save **pathArray** and **bufferArray** from the previous instance of ACEDrawingView.
3. When a new ACEDrawingView (let it be 'drawView') is created provide it with the values from previously saved **pathArray** and **bufferArray**.
4. Over ride layoutSubviews() in parent view

[2016-09-28 15:05] vinzen opened #63 "ACEDraggableText.bundle not found?"
I update to the last version and here is what I got:

[code]

The ACEDrawingView is instantiated from a Storyboard.

Cocoapod: 1.0.1
Xcode: 8.0

[2016-09-28 15:13] acerbetti commented on #63
Strange, I'm using pod myself in a similar configuration and I don't see this problem.
Can you please check if the resources in png format are downloaded correctly ?

[2016-10-07 15:25] vinzen commented on #63
Yeah they are

![capture d ecran 2016-10-07 a 17 25 20](https://cloud.githubusercontent.com/assets/3071874/19195739/0eb5cfa8-8cb3-11e6-860b-2331339de6b1.png)

[2016-10-08 04:21] deviserRahul commented on #1
I have made some changes for drawing on image. Please have a look [here](https://github.com/deviserRahul/ACEDrawingView)

[2016-10-08 04:22] deviserRahul commented on #46
I have made some changes for drawing on image. Please have a look [here](https://github.com/deviserRahul/ACEDrawingView)

[2016-10-08 04:47] acerbetti commented on #46
Do you mind to do a PR ?

[2016-10-08 04:57] acerbetti commented on #63
I'm not sure why the bundle is not loaded correctly. I just pushed version 2.0.1 which add a check for nil. You can always set the images for the corner of the draggable text tool programmatically using the properties: draggableTextRotateImage & draggableTextCloseImage

[2016-10-08 04:57] #63 closed

[2016-10-08 05:14] deviserRahul commented on #46
What exactly will be requiring to do in PR?

On Sat, Oct 8, 2016 at 10:17 AM, Stefano Acerbetti <notifications@github.com

[2016-10-08 06:18] deviserRahul commented on #46
Please review the request, suggest improvements.

[2016-10-08 08:28] wangsuikang commented on #23
Hi,vipinjohney
 I also want to save the drawing and open it again.do you finish testing ? thanks.

[2016-10-08 08:38] wangsuikang opened #65 "how to save drawing ?"
Hi,
I want to save drawing ,when I finish drawing. I can open it again.Please tell me how to do it .Look forward to your reply .Thanks!

[2016-10-08 15:27] acerbetti commented on #65
I think the best way is to apply the protocol [NSCoding](https://developer.apple.com/reference/foundation/nscoding) to each tool, so you can serialize the arrays of steps and apply them again in the future

[2016-10-08 15:29] acerbetti commented on #55
I you have time, i would recommend to use the NSCoding protocol. See my comment to #65

[2016-10-18 12:42] eyganeshv opened #66 "DraggableText issue"
ACEDrawingView Version : 2.0.1

added some draggable texts into drawingview. But it would not appear in preview. Please see attach file.

![simulator screen shot 18-oct-2016 6 09 40 pm](https://cloud.githubusercontent.com/assets/21999369/19477988/5954cb00-955e-11e6-81c9-c9851cd4d856.png)
![simulator screen shot 18-oct-2016 6 10 17 pm](https://cloud.githubusercontent.com/assets/21999369/19477989/59

[2016-10-30 19:10] Tripwire999 commented on #65
Can you give an example on how to do this, I can't seem to figure out how to save a drawing. I'm using Realm as a database but I'm stuck at implementing the NSCoding protocol in the Pen tool.

[2016-11-02 03:13] acerbetti commented on #65
Try to look here to get some idea https://github.com/mro/MROGeometry/blob/master/MROGeometry/NSCoder_MROCGPath.m

[2016-11-10 15:16] johnny51925 opened #67 "Is it possible for drawing on a video?"
As title
I would like to create a app like snapchat so we can draw on a video

Thank You

[2016-11-11 02:04] acerbetti commented on #67
I think you should take a snapshot of the drawing and then merge the view with the video.

Take a look at the GPUImage project, it's a little bit old, but still working. CoreVideo should have something similar

[2016-11-11 02:04] #67 closed

[2016-11-14 02:46] daviddelmonte opened #68 "Swift advice"
This is a great control, but I want something in Swift. Can you recommend an equivalent? Alternatively, some detail of how to integrate in a large Swift project would be really appreciated.

[2016-11-14 10:23] daviddelmonte commented on #68
I should have looked first.  [Here's](https://github.com/TechResidence/Swift_ACEDrawingView) a pretty good swift version that can be updated to Swift 3:

[2016-11-14 10:24] #68 closed

[2016-11-22 10:44] Yelles opened #69 "Background image Aspect Fit"
Hi,

How to set the background UIImageView to Aspect Fit ?

Best

[2016-11-22 11:30] Yelles commented on #69
ACEDrawingModeScale

[2016-11-22 11:30] #69 closed

[2016-11-30 19:38] cainunable commented on #66
I ran into the same problem on a branch that I was playing around with.  I managed to fix it in my local translation (which is now written in C#) but someone working on this could do a similar fix in Objective C.

In AceDrawingView.drawings(), after the looping over the pathArray and calling [tool draw] on each, I did something like this:

[code]

[2016-12-02 11:21] lorenzoPrimi opened #70 "applyDrawToImage not present in cocoapods"
`- (UIImage *)applyDrawToImage:(UIImage *)baseImage;`

is not present when integrating this library with cocoapods, maybe the library is not updated to the latest version?

[2016-12-09 10:34] alperkirdok opened #71 "Drawing slides when orientation changes"
Hello there,

First of all, I'd like to thank you for developing and open sourcing this project. It has been immensely useful to us. There is one slight issue. After drawing lines and changing the orientation of the phone to landscape, the lines do rotate, but jump when a new line is added.
I've looked into it a bit but couldn't solve it. If anybody has any idea how I can solve this issue, please

[2016-12-11 18:18] Tripwire999 commented on #65
Still don't get how to do this. I've added the NSCoding protocol to the AceDrawingPenTool and tried to implement the example you gave. But I don't know when and where to call the encode feature to save it? Can you provide one example on one of the tools how to implement it please?

[2016-12-11 19:37] acerbetti commented on #65
If you have implemented the NSCoding protocol correctly, saving it should be very easy. Here is a tutorial
https://www.raywenderlich.com/1914/nscoding-tutorial-for-ios-how-to-save-your-app-data

[2016-12-15 13:16] KishanMakk opened #72 "draw line overlaping"
how to stop all lines to overlapping . after changing line alpha.

[2017-01-02 00:40] Tripwire999 commented on #70
I noticed that as well, seems like the cocoapods version isn't updated :(

[2017-01-02 08:24] acerbetti commented on #70
Sorry about that. I can update the pod later in the day. In the meantime you can update the podspec to point directly to the github repository

[2017-01-02 16:32] #70 closed

[2017-01-02 18:11] Tripwire999 commented on #65
Hi acerbetti,

I finally had some time to pick up where I left. I've wrote this code to save the UIBezierPath (As i understand correctly the UIBezierPath adheres to the NSCoding protocol so I didn't add that (just testing to save and load the lines). This is my code as of now:
[code]

[2017-01-18 10:24] SidduIOS opened #73 "Need to update already draw lines with selected colour?"
Hi, can u suggest how i get previous drawing lines points.and i update the colour for previous lines

[2017-01-18 11:19] hfzwhd opened #74 "disable drawTool"
is there any way we could disable a drawTool or any state that will disabled all drawTool options. thanks!

[2017-01-19 06:18] SidduIOS commented on #23
Hi vipinjohney

I need to update previous  draw lines with selected pattern image.could you help me in this issue.
I did what you said above redrawing is working perfectly but  those line were not update.

[2017-01-19 08:49] hfzwhd commented on #74
interim solution - bring other uiview to front.

[2017-01-20 07:32] hfzwhd opened #75 "hideHandle()"
how to call hideHandle()?

[2017-01-25 00:49] acerbetti commented on #74
What do you mean with disable ?

[2017-01-25 00:51] acerbetti commented on #75
what's the scenario, you can use hideTextToolHandles() in the main view

[2017-01-25 05:29] hfzwhd commented on #74
hi below is the example. when i tap on stickerButton, i was hoping there is some state that would disable the previous state of view. eg aceDrawingView.drawTool = none

@IBAction func textButtonTapped(_ sender: Any) {
 self.aceDrawingView.drawTool = ACEDrawingToolTypeDraggableText
}

@IBAction func brushButtonTapped(_ sender: Any) {
 self.aceDrawingView.drawTool = ACEDrawingToolTypePen
}

@IBActio

[2017-01-25 05:50] hfzwhd commented on #75
seems like i cant call hideTextToolHandles with drawingview. i can successfully call clear() and prepareForSnapshot()

[2017-01-27 12:12] param0091 opened #76 "Text label(ACEDrawingLabelView) missing after save image"
Label(ACEDrawingLabelView) not available when save photo. As code no is available in drawTool to draw label over image. Use latest version of library installed with pods.

[2017-02-23 12:06] vipinjohney commented on #23
Above solutions by me had many issues. One of them was, each time I import and draw a new line the previous set of lines changed their location. Tried to fix that but dropped it due to lack of time .

[2017-03-04 20:52] TGWC opened #77 "Texture support"
Can it support brush texture ? In future releases?

[2017-03-05 19:09] acerbetti commented on #77
Sorry, I'm busy with other projects and I'm not planning new features.

I'll be more than happy to accept PR if you want to work on it

[2017-03-14 00:57] ZhouRR commented on #76
maybe you need call method 'prepareForSnapshot'

[2017-03-30 07:11] rollr76518 commented on #13
Hello vtourraine, do you finish this feature?

[2017-03-31 07:27] #75 closed

[2017-03-31 07:27] #74 closed

[2017-03-31 07:30] hfzwhd opened #78 "change font and color for existing text?"
hi anyone know how to achieve this? or this is simply not possible?

[2017-04-10 11:47] cor0na commented on #76
I also had the same problem. Calling 'prepareForSnapshot' method does not fix it. Why can not the DraggableText export as UIImage?

[2017-04-10 11:52] cor0na commented on #66
Please translate the above @cainunable 's C# to Objective-C code...

[2017-04-11 01:29] ZhouRR commented on #76
[ACEDrawingView toImage];
and in UIView+Image.m
- (UIImage *)toImage
{
    UIGraphicsBeginImageContextWithOptions(self.frame.size, NO, 0.0);
    [self.layer renderInContext:UIGraphicsGetCurrentContext()];
    UIImage *newImage = UIGraphicsGetImageFromCurrentImageContext();
    UIGraphicsEndImageContext();

    return newImage;
}

[2017-04-11 04:08] cor0na commented on #76
@ZhouRR Thanks for your nice code, perfect! I was able to confirm the UIImage included the DraggableText.

[2017-04-11 10:25] devarajidesign opened #79 "Custom Shapes"
Hai,

Can you please explain how to use the custom in that code.Because i tried it forcely closed.I want some shapes like triangle,rectangle..

[2017-04-11 15:00] acerbetti commented on #76
Thanks for the code. Do you mind to submit a PR ?
I've been very busy and I can't find much time to maintain this project

[2017-04-11 15:06] acerbetti commented on #79
In the current implementation you can only have one ACEDrawingTool.

Create a new NSObject which implement the protocol ACEDrawingTool (see other examples like rectangle).

Now set the new tool to the ACEDrawingTool property and set the drawTool = ACEDrawingToolTypeCustom

you should be able to use your custom tool.

If you want to implement more than one, I would like to suggest to implement new

[2017-04-12 21:07] JinkProject opened #80 "Having the ability to store the drawn paths and load them into the view when app is loaded"
Hello all,

I am trying to use this library to allow users to write their signatures. I am trying to store the signature and give the user the option of reusing the stored signature. How do I accomplish this? At the moment, I'm storing the `pathArray` and loading it when the app is loaded, but I'm not sure how to populate the view using the individual bezierPaths in the `pathArray`. Any help would

[2017-04-12 21:12] JinkProject commented on #65
@Tripwire999 That is the same issue I'm having. I am correctly storing and reloading the drawn paths, but when I run the method `updateCacheImage:`, nothing happens. @acerbetti Could you give some insight on how to achieve this?

[2017-04-12 21:13] JinkProject commented on #80
Please disregard. It appears that there is another question similar to this already.

[2017-04-12 21:22] Tripwire999 commented on #65
@JinkProject
Let's say we use the PenTool, I use the following function to load the data back from the NSData we archived with the NSCoding protocol (DrawPathObject is a Realm object):
`+(ACEDrawingPenTool *)createPenTool:(DrawPathObject *)drawing {
    UIBezierPath *path = [NSKeyedUnarchiver unarchiveObjectWithData:drawing.drawPath];
    ACEDrawingPenTool *tool = [ACEDrawingPenTool new];
    tool

[2017-04-12 21:26] JinkProject commented on #65
@Tripwire999 OK. Cool. Let me try that. Could this not be achieved the same why by just making `ACEDrawingPenTool` adhere to `NSCoding` protocol? Why did you use a separate object (`DrawPathObject`)

[2017-04-12 21:30] Tripwire999 commented on #65
@JinkProject It's because i'm using Realm and i'm not only storing the DrawPath stuff but also some other parts in Realm like lineAlpha, lineWidth, tooltype e.t.c.

[2017-04-12 22:06] JinkProject commented on #65
@Tripwire999 How did you encode/decode the path?

[2017-04-12 22:25] JinkProject commented on #65
@Tripwire999 Also, have you made the `path` variable from the `ACEDrawingPenTool` object a publicly, readwriteable property? I've done all of these things and I'm still not seeing the drawings on load.

[2017-04-12 23:23] JinkProject commented on #65
@Tripwire999 NVM. Got it working. Looks great. Thanks for the help!

[2017-04-13 20:07] JinkProject commented on #65
@acerbetti @Tripwire999 Would you guys be up for submitting a PR that supports storing drawings? We'd like to use this library as a pod in our projects, but we would obviously want to stay up to date on the latest changes.

[2017-04-14 02:59] acerbetti commented on #65
Happy to accept and review any PR. But I don't have any bandwidth to maintain the lib right now

[2017-04-14 03:04] ZhouRR commented on #76
@cor0na No thanks.
@acerbetti No thanks.

[2017-04-14 04:03] #76 closed

[2017-04-14 04:06] #80 closed

[2017-04-14 04:07] JinkProject commented on #65
@acerbetti Roger that. I'll submit a PR.

[2017-04-14 04:09] acerbetti commented on #80
cloned #65

[2017-04-14 06:50] hfzwhd commented on #78
no one? 😅

[2017-04-18 06:39] Tripwire999 commented on #65
@JinkProject If you need help I'll be willing to lend a hand for saving and loading the drawings. Though I've modified the AceDrawingView code heavily the saving and loading shouldn't be that different than what i've got. Let me know!

[2017-04-18 06:41] JinkProject commented on #65
@Tripwire999 Any help would be appreciated!

[2017-04-24 09:12] abdelrahman-ahmed opened #81 "Play back support"
Could you please give me hints how to play back drawings.
Thanks in advance

[2017-05-05 18:45] lorenzoPrimi opened #82 "Clear doesn't actually clear"
Hi,
I recently have a problem with this component, I have a ACEDrawingView over an UIImageView
initialized with simple parameters
[code]
but when I call
`    [self.signatureView clear];
`
doesn't clear the view, only does it the second time I call the clear function.
What can be the cause of this?

[2017-05-05 18:46] lorenzoPrimi commented on #82
UPDATE: the first clear seems to do something, in fact if I clear once and draw a line on the old one, the old one vanishes.

[2017-05-07 09:42] lorenzoPrimi commented on #82
Updating to 2.2.1 fixed the issue

[2017-05-07 09:42] #82 closed

[2017-05-22 12:22] iosfitness opened #83 "Start editing when user lands on Drawing View"
Hello,

I would like to open the keyboard as soon as the user lands on Drawing view with current settings ACEDrawingDraggableTextTool.

[2017-06-05 10:40] Akshaytule09 opened #84 "Drawing view is not supporting orientation."
Hi,

I have used this pod in an iPad application.  I am facing data discrepancy issue when I switch the orientation of the iPad.

Here are some details about the issue I am facing.
1. Open the view to add stylus notes in portrait mode.
2. Draw something at the bottom of the drawing view.
3. Save the drawn data as UIImage and close this stylus notes view.
4. Switch the orientation of the iPad to la

[2017-06-05 14:13] acerbetti commented on #84
I'm not sure how to solve this issue. As you notice, when you save the drawing, you will get an image.
if you change orientation, to load the image again, you can stretch it, or load using the original dimensions.

You can try to stretch it if you want to see the bottom part of it, but the drawing will look funny especially if you were using shapes like a circle or so...

[2017-07-13 03:25] tharhtet commented on #13
Can we get the sample. Thanks.

[2017-07-27 08:56] doxuto opened #86 "How to create brush tool?"
Hi,
I want to create brush tool (like brush tool in photoshop). Do you have a suggestion for this?
Thanks for your support.

[2017-08-30 10:02] TGWC commented on #86
any updates on this?

[2017-08-30 20:45] acerbetti commented on #86
No updates, sorry.

I think it's a cool request, but I don't have any suggestion on how to implement this

[2017-10-10 08:01] SundareshJoshi opened #87 "predict the pressure sensitivity of the user's finger to define the thickness of the brush"
is there any option to predict the pressure sensitivity of the user's finger to define the thickness of the brush on the drawing view?

[2017-11-06 11:09] HardikDG opened #88 "Draggable textview position problem"
I am using 'ACEDrawingDraggableTextTool' in the project. I am running the code in the Xcode 9. iPhone X/iPhone 8 plus simulator.

The issue is, the text view is not getting placed at the cursor location.  When I click on the screen it is placed some points down the cursor pointer.
I want to create text view from the touch point itself instead of another location. How can I achieve it?

Other contr

[2017-11-07 16:03] acerbetti commented on #88
Thanks, I'll take a look

[2017-12-08 20:05] rlustemberg commented on #66
Actually issue 76 included a PR for a fix for that, simpler than looping over the subviews. The problem is that @acerbetti forgot to modify the `- (UIImage *)applyDrawToImage:(UIImage *)baseImage` method. I'll provide a PR for that

[2017-12-22 06:55] vineetravi107 opened #91 "Is it possible to select and and delete any drawing object ?"
I wanted to know if it is possible to select and delete any drawing object (i.e. shapes, scribles, textbox etc.) ??

[2018-01-02 08:22] bduyng opened #92 "Support for brush textures?"
Is it possible to add an image and use it as a texture of stroke when drawing?... so we can just need to change the image to support as many brushes as we want to like soft edge, spay....

[2018-03-02 06:07] hezhk3 commented on #13
I put ACEDrawingView inside a UIScrollView and set  scrollView.panGestureRecognizer.minimumNumberOfTouches = 2, it is able to zoom, but still draw a little before it zooms.

[2018-03-09 07:29] cody-chen-jf opened #93 "How to get the line position?"
Is there any way to get the first point and last point for the ACEDrawingRectangleTool?

[2018-04-01 12:18] sriteja25 opened #94 "Can I get the bounding box containing only drawing ?"
Is there any way in which I can get the bounding box of the drawing ? I am looking to create a resized around the exact bounding of the image

<img width="300" alt="screen shot 2018-04-01 at 9 17 31 pm" src="https://user-images.githubusercontent.com/12974407/38173029-2d0191ec-35f2-11e8-88a9-166ee6a441d7.png">

[2018-04-04 01:40] hezhk3 commented on #94
I used OpenCV.

cv::findContours()
cv::boundingRect()

[2018-04-25 20:17] Authman2 commented on #92
I have brushes implemented in mine, but they do not have image textures:
https://github.com/Authman2/Canvas

[2018-06-21 21:31] JinkProject opened #95 ""Invalid suffix '.1' on floating constant""
We are getting this error in the ACEDrawingView.h file. Is it possible that you could change this to a string?

[2018-07-10 17:15] stevelandeyasana commented on #95
I only get this when there is another error in my project. Annoying, but I haven't found it to affect any otherwise error-free builds.

[2018-07-10 18:24] acerbetti commented on #95
Sorry, I don't see this error compiling the project. Could you please add more details to reproduce it ?

[2018-07-10 18:35] JinkProject commented on #95
@acerbetti Like @stevelandeyasana mentioned, it is only ever an issue when there are other errors in the code, but it's a bit misleading and that is a major issue.
![screen shot 2018-07-10 at 11 33 40 am](https://user-images.githubusercontent.com/3865631/42530110-2b30be10-8435-11e8-8338-13a4918a071c.png)

[2018-07-13 06:29] vaishali-g opened #97 "latency issues"
Hi Team, I have been facing this issue where let suppose I start my touch from a point where x = 0 and drag it till a point where x = 25 then the line that is drawn starts from x > 0 any value which is greater than 0 and at times its way much more than that, so basically there's a latency issue.

[2018-07-19 11:57] engnakagawa opened #98 "Semantic Issues Warn "Method prev_image, setPrev_image deplecated here"."
## Environment
ACEDrawingView 2.2.1
Xcode 9.4.1

## steps to reproduce
Build

[2018-07-27 18:50] JinkProject commented on #95
@acerbetti any updates on this?

[2018-12-25 08:12] dimmangeorge commented on #13
@hezhk3  Any solutions found for removing that drawing before it zooms?

[2020-04-01 05:11] #98 closed

[2020-04-01 05:14] engnakagawa commented on #98
Because it has been left for a long time, it is disturbing to see my created list.
 

[2020-04-24 03:28] mediaRare commented on #1
Can you tell me how I can mask the canvas with an image with transparent areas?

I only want to be able to paint in the non transparent areas?

Or vice versa.

Many thanks.